@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}
icons{
    font-size:3rem;
}
.about{
  /* border: 1px solid; */
  background: url(./images/pic/bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
}
.about h1{
  color: tomato;
  font-size: 40px;
  /* border: 1px solid; */
  padding-top: 50px;
  text-align: center;
}
.about img{
  position: absolute;
  margin-top: 8%;
  border-radius: 30%;
  height: 40%;
  margin-left: 7%;
  
}
.about p{
  /* display: block; */
  margin-left: 30%;
  margin-top: 10%;
  margin-right: 17%;
  line-height: 24px;
  text-transform: none;
  font-size: 20px;
  text-align: justify;
  /* text-wrap: wrap; */
}

.about a{
  text-decoration:  none;
  color: #fff;
  background: rgb(36,32,30);
  margin: 26px 0;
  padding: 10px 18px;
  border-radius: 10px;
  display: inline-block;
  transition: .4s ease;
  margin-left: 30%;
}

.education{
  background: url(./images/pic/bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 5% 10%;
  /* justify-content: space-between; */
}
.education h1{ 
  text-align: center;
  color: tomato;
  margin-bottom: 15px;
}
.edu{
  display: flex;
}
.edu h3{
  color: tomato;
  font-size: 25px;
  margin-bottom: 10px;
}
.edu h5{
  font-size: 1rem;
  /* text-align: justify; */
}
.edu .tenth{
  display: block;
  margin: 10px;
  padding: 5%;
  line-height: 20px;
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 5px 5px 10px aliceblue;
}
.edu .inter{
  display: block;
  margin: 15px;
  padding: 5%;
  line-height: 20px;
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 5px 5px 10px aliceblue;
}
.edu .btech{
  display: block;
  margin: 10px;
  padding: 5%;
  line-height: 20px;
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 5px 5px 10px aliceblue;
}
.skills{
  /* border: 1px solid; */
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 15px;
}
.skill-info{
  width: 25%;
}
.skill-info h3{
  text-align: center;
  color: tomato;
  font-size: 1 rem;
}
.skill-con {
  background-color: transparent;
  border: 2px solid blue;
  border-radius: 8px;
  box-sizing: border-box;
  height: 14px;
  margin-bottom: 12px;
  width: 100%;
}
.design h4{
  color: palevioletred;
  margin-top: 5px;
}
.coding h4{
  color: palevioletred;
  margin-top: 5px;
}
.percent{
  transition: all 2.5s ease-in-out;
}
.percent {
  background-color: skyblue;
  border: 2px solid #fff;
  border-radius: 9px;
  height: 10px;
  padding: 0;
}
.skill-1{
  width: 90%;
}
.skill-2{
  width: 90%;
}
.skill-3{
  width: 80%;
}
.skill-4{
  width: 80%;
}
.skill-5{
  width: 80%;
}
.skill-6{
  width: 65%;
}
.project{
  background: url(./images/pic/bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 5% 10%;
}
.project h1{
  text-align: center;
  color: tomato;
  margin-bottom: 20px;
}
.pro a{
  text-decoration:  none;
  color: #fff;
  background: rgb(36,32,30);
  margin: 26px 0;
  padding: 10px 18px;
  border-radius: 10px;
  display: inline-block;
  transition: .4s ease;
  /* margin-left: 30%; */
}
.pro h3{
  color: tomato;
  padding: 5px 10px;
}
.pro p{
  padding: 3px 10px 0px 30px;
}

.pro-info{
  display: flex;
  flex-direction: column;
}

footer {
  height: 17rem;
  /* border: 1px solid; */
  color: white;
  background-color: #2b2a29;
  display: flex;
  flex-direction: column;
}
.inp {
  padding: 3% 15px;
}
.inp p{
  text-align: center;
}
.inp a{
  text-decoration: none;
  color: white;
  text-transform: none;
  /* text-align: center; */
}
.inp a:hover{
  color: #f26522;
}
.ul_list {
  margin: 10px 20%;
}

.ul_list ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.ul_list ul li a {
  color: white;
  text-decoration: none;
}

.ul_list ul li a:hover {
  color: #f26522;
}
footer h1{
  text-align: center;
  padding-top: 2%;
}
footer .icon{
  text-align: center;
  margin-top: 20px;
}
footer .icon a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20px;
}
footer .icon a:hover{
  color: #f26522;
}